.admin-container {
  .admin-title {
    padding: 20px;
    text-align: center;
  }
  .admin-cards {
    display: flex;
    margin: 10px;
    justify-content: center;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: white;
      font-size: large;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  }
  .admin-link {
    padding: 50px;
    border: solid white ;
    background-color: rgb(132, 208, 168);
    margin: 80px;
    cursor: pointer;
    border-radius: 5%;
    
  }
}
